git+https://github.com/spring-epfl/zksk@master#egg=zksk
protobuf
SQLAlchemy
python-bitcoinlib
git+https://github.com/gdanezis/petlib@master#egg=petlib
eth_keys
eth_account
sqlalchemy-stubs
black
pylint
../protobufs/python
